<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="not-found content">
        OOPS, page not found :( <br>Please double check your url.<br><br>
       <a href="/blogs"><center>Take me home!!<br><img src="/sync_problem.svg" alt="not found icon"></center></a>
    </div>

    <%- include('./partials/footer.ejs') %>    

</body>
</html>