<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about Content">
        <h2>About Us</h2>
        <p>This website is designed as a side project of mine to create a blog site by using technologies like Express, node.js, EJS, lodash, and </p>
        <p>I hope you will help improve the site by adding your own blog posts to it!</p>
    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>